.Spinner {
    text-align: center;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.App-logo {
    height: 15vmin;
    pointer-events: none;
}

.App-logo-reverse {
    height: 15vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 0s linear;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo-reverse {
        animation: App-logo-spin-reverse infinite 1s linear;
    }
}

.Spinner-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes App-logo-spin-reverse {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.color-button {
    width: 140px;
    height: 155px;
    padding-top: 15px;
    border: 5px solid grey;
}

.color-button-expanded {
    width: 140px;
    border: 5px solid red;
    height: 175px;
    padding-top: 15px;
}

.info-text {
    margin-top: 10px;
}